.generalContainer {
    display: flex;
    height: 100vh;
    background-image: url('/general_background.png');
    background-size: cover;
    background-position: center right;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.content {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 2rem;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-family: 'Arial', sans-serif;
    padding-left: 400px;
    margin-right: 600px;
}

@media (max-width: 768px) {
    .content {
        padding-left: 0;
        margin: 20px;
        text-align: center;
    }
}
